@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #ffffff;
  color: #18181b;
}

html.dark body {
  background-color: #09090b;
  color: #fafafa;
}
